<!DOCTYPE HTML>
<html>

<head>
<script>

var data = JSON.parse("{{ data | escapejs }}")

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Fish Monitoring"
	},
  	axisY: {
      includeZero: true
    },
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
      	indexLabelFontSize: 16,
		indexLabelPlacement: "outside",
		dataPoints: [
			{ x: 150, y: data, indexLabel: "\u2605 Highest" },
			{ x: 5, y: 55 },
			{ x: 10, y: 50 },
			{ x: 20, y: 65 },
			{ x: 30, y: 92 },
			{ x: 40, y: 68 },
			{ x: 50, y: 38 },
			{ x: 60, y: 71 },
			{ x: 70, y: 54 },
			{ x: 80, y: 60 },
			{ x: 90, y: 36 },
			{ x: 100, y: 49 },
			{ x: 110, y: 5, indexLabel: "\u2691 Lowest" }
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>